*{ 
    margin: 0;padding: 0;
}
a{
    color: #1890ff;
    &:hover{
        color: #656565;

    }
}
img{
    border: 0;vertical-align: middle;
}
body{
    font-family: "微软雅黑";
    font-size: 14px;
    background: #f1f4f8;

}
